html{
  font-size: 1.937vh;
}
body{
  background: linear-gradient(to right, #8e2de2, #4a00e0);     
  display:flex;
  justify-content:center;
  margin: 0;
  height: 100%;
  overflow: hidden;

}
#instructions{
  background: linear-gradient(to right, #ff8419, #f90985);
  background-image: url("images/green_texture2.jpg");
  left: 0;
  top: 0;
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  width: 100%;
  height: 100%;
  position:absolute;
  z-index: 300;
  transition: .5s;
  box-shadow: inset 0 0 200rem #000000;
}
.switch #instructions{
  transform: translateY(-100%) rotate(0deg) scale(1);
}

#startGame{
  color: #07421d;
  background-color: #ffffff;
  box-shadow: 0 0.3rem 0.4rem 0 rgba(0,0,0,0.4);
  border: transparent;
  text-align: center;
  border-radius: 2.5rem;
  padding: 0.5rem 2.5rem 0.5rem 2.5rem;
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  z-index: 200;
  transition: all 0.2s ease-out;
  cursor: pointer;
}
#startGame:hover{
  box-shadow: 0 0.8rem 0.8rem 0 rgba(0,0,0,0.5), 0 0.8rem 1.2rem 0 rgba(0,0,0,0.19);
  transition: all 0.35s ease;
  color: #fba12c;
}

.gameBoard{
  position:absolute;
  z-index: 1;
}

.score{
  display:grid;
  grid-auto-flow: column;
  grid-column-gap: 0.5rem;
  position:relative;
  z-index: 100;
}
#confetti-canvas{
  position:absolute;
  z-index: 9999999999;
}

#player1{
  color: white;
  background-color: red;
  border-radius: 0rem 0rem 1rem 1rem;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  font-family: 'Rubik', sans-serif;
  box-shadow: 0 0.6rem 1rem 0 rgba(0,0,0,0.5), 0 0.5rem 1rem 0 rgba(0,0,0,0.19);
}

#player2{
  color: white;
  background-color: goldenrod;
  border-radius: 0rem 0rem 1rem 1rem;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  font-family: 'Rubik', sans-serif;
  box-shadow: 0 0.6rem 1rem 0 rgba(0,0,0,0.5), 0 0.5rem 1rem 0 rgba(0,0,0,0.19);
}

.current{
  background-color: white;
  text-align: center;
  border-radius: 0rem 0rem 1rem 1rem;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  font-family: 'Rubik', sans-serif;
  font-size: 0.8rem;
  box-shadow: 0 0.6rem 1rem 0 rgba(0,0,0,0.5), 0 0.5rem 1rem 0 rgba(0,0,0,0.19);
}
#currentPlayer{
  font-size: 1.6rem;
  margin: 0;

}
h1{
  margin: 0;

}
h2{
  margin: 0;

}
#gameHead{
  transform: rotate(-7deg) translateY(-3rem);
}
#letsplay{
  color: goldenrod;
  text-shadow: 0 0.3rem 1rem #000000;
  border: transparent;
  text-align: center;
  padding: 0.5rem 2.5rem 1rem 2.5rem;
  font-family: 'Dancing Script', cursive;
  font-weight: 700;
  font-size: 7rem;
  z-index: 200;
  margin: 0;
  transform: translateY(6rem);
}
#Pool{
  color: goldenrod;
  text-shadow: 0 0.3rem 1rem #000000;
  border: transparent;
  text-align: center;
  padding: 0.5rem 2.5rem 0.5rem 2.5rem;
  font-family: 'Dancing Script', cursive;
  font-weight: 700;
  font-size: 18rem;
  z-index: 200;
  margin: 0;
}
#pause{
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  color: #8e2de2;
  background-color: #ffffff;
  box-shadow: 0 0.1rem 0.2rem 0 rgba(0,0,0,0.4);
  border: transparent;
  text-align: center;
  border-radius: 2rem;
  padding: 0.2rem 1.5rem 0.25rem 1.5rem;
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
  font-size: 1.3rem;
  z-index: 200;
  transition: all 0.2s ease-out;
  cursor: pointer;
}
#pause:hover{
  color: #ff064d;
  box-shadow: 0 0.4rem 1.5rem 0 rgba(0,0,0,0.5), 0 0.5rem 1rem 0 rgba(0,0,0,0.19);
  transition: all 0.35s ease;
}

.bubbles{
  position:absolute;
  width:100%;
  height: 100%;
  z-index:-1;
  overflow:hidden;
  top:0;
  left:0;
}
.bubble{
  position: absolute;
  bottom:-12rem;
  width: 2.5rem;
  height: 2.5rem;
  background:#f1f1f1;
  border-radius:50%;
  opacity:0.2;
  animation: rise 10s infinite ease-in;
}
.bubble:nth-child(1){
  width: 2.5rem;
  height: 2.5rem;
  left:10%;
  animation-duration:8s;
}
.bubble:nth-child(2){
  width: 1.2rem;
  height: 1.2rem;
  left:20%;
  animation-duration:5s;
  animation-delay:1s;
}
.bubble:nth-child(3){
  width: 3rem;
  height: 3rem;
  left:35%;
  animation-duration:7s;
  animation-delay:2s;
}
.bubble:nth-child(4){
  width: 5rem;
  height: 5rem;
  left:50%;
  animation-duration:11s;
  animation-delay:0s;
}
.bubble:nth-child(5){
  width: 2.2rem;
  height: 2.2rem;
  left:55%;
  animation-duration:6s;
  animation-delay:1s;
}
.bubble:nth-child(6){
  width: 2.8rem;
  height: 2.8rem;
  left:65%;
  animation-duration:8s;
  animation-delay:3s;
}
.bubble:nth-child(7){
  width: 5.5rem;
  height: 5.5rem;
  left:70%;
  animation-duration:12s;
  animation-delay:2s;
}
.bubble:nth-child(8){
  width: 1.7rem;
  height: 1.7rem;
  left:80%;
  animation-duration:6s;
  animation-delay:2s;
}
.bubble:nth-child(9){
  width: 1rem;
  height: 1rem;
  left:70%;
  animation-duration:5s;
  animation-delay:1s;
}
.bubble:nth-child(10){
  width: 5.5rem;
  height: 5.5rem;
  left:25%;
  animation-duration:10s;
  animation-delay:4s;
}
@keyframes rise{
  0%{
    bottom:-6.3rem;
    transform:translateX(0);
  }
  50%{
    transform:translate(6.3rem);
  }
  100%{
    bottom:67.5rem;
    transform:translateX(-12.5rem);
  }
}